/* ==========================================
   NAVBAR
========================================== */

.admin-navbar{
    height:85px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 35px;
    box-shadow:0 8px 25px rgba(0,0,0,.05);
    border-bottom:1px solid #ececec;
}

/* LEFT */

.navbar-left{
    display:flex;
    align-items:center;
    gap:18px;
}

.menu-btn{
    width:48px;
    height:48px;
    border:none;
    border-radius:14px;
    background:#082B73;
    color:#fff;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:.3s;
}

.menu-btn svg{
    font-size:24px;
}

.menu-btn:hover{
    background:#E30613;
}

.navbar-left h2{
    color:#082B73;
    font-size:28px;
    font-weight:700;
}

.navbar-left p{
    color:#777;
    font-size:14px;
}

/* RIGHT */

.navbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

/* Notification */

.notification-btn{
    width:52px;
    height:52px;
    border:none;
    border-radius:50%;
    background:#F5F7FC;
    cursor:pointer;
    position:relative;
    transition:.3s;
}

.notification-btn svg{
    font-size:24px;
    color:#082B73;
}

.notification-btn:hover{
    background:#082B73;
}

.notification-btn:hover svg{
    color:#fff;
}

.notification-dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#E30613;
    position:absolute;
    top:12px;
    right:12px;
}

/* Profile */

.admin-profile{
    display:flex;
    align-items:center;
    gap:12px;
}

.admin-profile svg{
    font-size:50px;
    color:#082B73;
}

.admin-profile h4{
    color:#082B73;
    font-size:17px;
    margin-bottom:3px;
}

.admin-profile span{
    color:#777;
    font-size:13px;
}

@media(max-width:768px){

.admin-navbar{
padding:20px;
}

.navbar-left h2{
font-size:22px;
}

.admin-profile div{
display:none;
}

}